In [ ]:
##Question 1
##A) False
##B) False
##C) False
##D) False
##E) False
##F) True
##G) False
##H) True
##I) False
##J) True

In [ ]:
##Question 2 
##A) C1 = ((2+4+6)/3,(2+4+6)/3) = (4,4)
##   C2 = ((2+4)/2,(4+2)/2) = (3,3)
##   C3 = ((5+9)/2,(5+9)/2) = (7,7)
##B) (1,1) to C1 = sqrt((1-4)^2 + (1-4)^2) = 4.243
##   (1,1) to C2 = sqrt((1-3)^2 + (1-3)^2) = 2.828
##   (1,1) to C3 = sqrt((1-7)^2 + (1-7)^2) = 8.485
## I would assign the point (1,1) to cluster 2 (C2) because its eucledian distance to the centroid is the smallest

In [ ]:
##Question 3 
##C) Measure performance on training and testing data sets

In [ ]:
##Question 4
##A) Model 2
##B) Model 3
##C) Model 3
##D) I would choose model 3 because it had the highest r^2 adj with the lowest ACI and the Cp value was not very far off from the lowest from model 2

In [ ]:
##Question 5
## E) precision and recall

In [ ]:
##Question 6
##A) Business problem: Americans are leaving their cable services for online streaming services such as Netflix, Hulu, ect. 
##B) I would recomend a classification problem that will meausure the probibility of a customer canceling their sevice, that way we can adjust the
##   veribles to try and get the lowest probability for canceling their service.

In [ ]:
##Question 7
##J) C and D

In [ ]:
##Question 8
## K-means requires pre determined the number of clusters where hierarchical clustering does not

In [ ]:
##Question 9
##A) As the number of invoices goes up the prossesing time also increases, a linear model would be resonable looking at the scattter plot there 
##    looks to a good linear accosiation 
##B) For every unit of increase in invoices processing time will increase by 0.011 on average
##C) 0.641 + 0.011(130) = 2.071

In [ ]:
##Question 10
## It is important to split the data so that we can test the model on the tesing set in order to evaluate the performance of the model

In [42]:
import pandas as pd
##read csv
telecom_train = pd.read_csv('churn-bigml-80.csv')
telecom_train.head()

,State,Account_length,Area_code,International_plan,Voice_mail_plan,Number_vmail_messages,Total_day_minutes,Total_day_calls,Total_day_charge,Total_eve_minutes,Total_eve_calls,Total_eve_charge,Total_night_minutes,Total_night_calls,Total_night_charge,Total_intl_minutes,Total_intl_calls,Total_intl_charge,Customer_service_calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [43]:
import numpy as np
##changing labels ot 0 and 1
telecom_train['churn_numb'] = np.where(telecom_train['Churn']==True, 1 , 0)
telecom_train['int_plan'] = np.where(telecom_train['International_plan']=='Yes', 1 , 0)
telecom_train['voice_plan'] = np.where(telecom_train['Voice_mail_plan']=='Yes', 1 , 0)
telecom_train.head()

,State,Account_length,Area_code,International_plan,Voice_mail_plan,Number_vmail_messages,Total_day_minutes,Total_day_calls,Total_day_charge,Total_eve_minutes,...,Total_night_calls,Total_night_charge,Total_intl_minutes,Total_intl_calls,Total_intl_charge,Customer_service_calls,Churn,churn_numb,int_plan,voice_plan
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,91,11.01,10.0,3,2.70,1,False,0,0,1
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,103,11.45,13.7,3,3.70,1,False,0,0,1
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,104,7.32,12.2,5,3.29,0,False,0,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,89,8.86,6.6,7,1.78,2,False,0,1,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,121,8.41,10.1,3,2.73,3,False,0,1,0

In [44]:
from sklearn.ensemble import RandomForestClassifier
##defining new variables for training data
x_train = telecom_train[['Account_length', 'int_plan','Total_intl_minutes', 'voice_plan', 'Number_vmail_messages', 'Total_day_minutes','Customer_service_calls']]
y_train = telecom_train['churn_numb']


##buildingn random forest model
rf_md = RandomForestClassifier(n_estimators = 500).fit(x,y)

In [45]:
from sklearn.ensemble import GradientBoostingClassifier

##create the gradient boosting classifier
boosting_classifier = GradientBoostingClassifier(n_estimators = 500, max_depth = 4)

##building Gradient boosting model
gbc_md = boosting_classifier.fit(x,y)

In [46]:
##read csv
telecom_test = pd.read_csv('churn-bigml-20.csv')
telecom_test.head()

,State,Account_length,Area_code,International_plan,Voice_mail_plan,Number_vmail_messages,Total_day_minutes,Total_day_calls,Total_day_charge,Total_eve_minutes,Total_eve_calls,Total_eve_charge,Total_night_minutes,Total_night_calls,Total_night_charge,Total_intl_minutes,Total_intl_calls,Total_intl_charge,Customer_service_calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [47]:
##changing labels to 0 and 1
telecom_test['churn_numb'] = np.where(telecom_test['Churn']==True, 1 , 0)
telecom_test['int_plan'] = np.where(telecom_test['International_plan']=='Yes', 1 , 0)
telecom_test['voice_plan'] = np.where(telecom_test['Voice_mail_plan']=='Yes', 1 , 0)
telecom_test.head()

,State,Account_length,Area_code,International_plan,Voice_mail_plan,Number_vmail_messages,Total_day_minutes,Total_day_calls,Total_day_charge,Total_eve_minutes,...,Total_night_calls,Total_night_charge,Total_intl_minutes,Total_intl_calls,Total_intl_charge,Customer_service_calls,Churn,churn_numb,int_plan,voice_plan
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,...,90,9.71,8.7,4,2.35,1,False,0,0,0
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,...,111,9.40,12.7,6,3.43,4,True,1,0,0
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,...,128,7.23,5.4,9,1.46,4,True,1,0,0
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,...,105,8.53,7.7,6,2.08,2,False,0,0,0
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,...,90,8.04,11.1,1,3.00,1,False,0,0,0

In [49]:
##defining new variables for testing data
x_test = telecom_test[['Account_length', 'int_plan','Total_intl_minutes', 'voice_plan', 'Number_vmail_messages', 'Total_day_minutes','Customer_service_calls']]
y_test = telecom_test['churn_numb']

In [50]:
rf_pred = rf_md.predict_proba(x_test)[:,1]
rf_pred_label = np.where(rf_pred < .3, 0, 1)

from sklearn.metrics import confusion_matrix, accuracy_score, recall_score

print('the confusion matrix is', confusion_matrix(y_test, rf_pred_label))
print('the accuracy is', accuracy_score(y_test, rf_pred_label))
print('the recall is', recall_score(y_test, rf_pred_label))

the confusion matrix is [[522  50]
 [ 29  66]]
the accuracy is 0.881559220389805
the recall is 0.6947368421052632

In [51]:
gbc_pred = gbc_md.predict_proba(x_test)[:,1]
gbc_pred_label = np.where(gbc_pred < .3, 0, 1)

print('the confusion matrix is', confusion_matrix(y_test, gbc_pred_label))
print('the accuracy is', accuracy_score(y_test, gbc_pred_label))
print('the recall is', recall_score(y_test, gbc_pred_label))

the confusion matrix is [[522  50]
 [ 34  61]]
the accuracy is 0.8740629685157422
the recall is 0.6421052631578947

In [ ]:
## the best model based on these results is the random forest model to predict the likelyhood of churn
## because it has the highest accuracy of about .88 and recall of about .69

In [ ]:
##Question 12
##A) Predicted label = False. comparing it to its nearest neighbor ID 5 it resembles false.
##B) Predicted label = False. comparing it to its nearest neighbor ID 5,4, and 2 it resembles false since two of the three neighbors are false.