In [1]:
import pandas as pd

## reading csv file
CD_orders = pd.read_csv('CD_orders.csv')
CD_orders.head()

,ID,avg_spend.Q7,avg_spend.Q1,avg_spend.Q3,avg_spend.Q4,avg_spend.Q6,avg_spend.Q5,avg_spend.Q2
0,1,11.77,0.00,0.000000,0.00,0.00,0.000000,0.0
1,2,44.50,0.00,0.000000,0.00,0.00,0.000000,0.0
2,3,20.76,16.99,20.960000,57.45,20.15,0.000000,0.0
3,4,29.53,0.00,26.480000,0.00,0.00,14.960000,0.0
4,5,27.40,0.00,41.466667,40.47,45.55,30.996667,0.0

In [2]:
## Defining the input and target variables
X = CD_orders[['avg_spend.Q2', 'avg_spend.Q3', 'avg_spend.Q4', 'avg_spend.Q5', 'avg_spend.Q6', 'avg_spend.Q7']]
Y = CD_orders['avg_spend.Q1']

from sklearn.model_selection import train_test_split

##splitting the data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [3]:
import numpy as np
from sklearn.ensemble import RandomForestRegressor

##Defining the number of trees
n_tree = [100, 300, 500, 800, 1000]

## Extracting the trees
n = len(n_tree)

##Defining the data-frame to store results
results = pd.DataFrame({'Number_of_Trees': np.repeat(np.nan, n), 'RMSE':np.repeat(np.nan, n), 'MAE': np.repeat(np.nan, n)})

In [21]:
for i in range(0, n): 
    
    ##Building random forest model
    RF = RandomForestRegressor(n_estimators = n_tree[i]).fit(X_train, Y_train)
    
    ## Predicting on the test dataset
    RF_pred = RF.predict(X_test)
    
    ##Storing the results
    results['Number_of_Trees'][i] = n_tree[i]
    results['RMSE'][i] = np.sqrt(np.mean((RF_pred - Y_test)**2))
    results['MAE'][i] = np.mean(abs(RF_pred - Y_test))

In [24]:
results

   Number_of_Trees       RMSE       MAE
0            100.0  25.113696  5.257645
1            300.0  25.101463  5.244929
2            500.0  25.178949  5.252692
3            800.0  25.169881  5.256004
4           1000.0  25.138694  5.243089

In [ ]:
## Based on the results, we would choose the second model of 300 trees because of having the lowest RMSE of 25.101463 and MAE 5.244929 being the second lowest out of the models. It is preferable because comparing the models 2 and 5, model 2 has only 300 trees and model 5 has 1000 trees with essentialy similar results.

In [36]:
from sklearn.neighbors import KNeighborsRegressor

In [37]:
##Defining the number of trees
n_neighbor = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

## Extracting the trees
n = len(n_neighbor)

##Defining the data-frame to store results
results = pd.DataFrame({'Number_of_Neighbors': np.repeat(np.nan, n), 'RMSE':np.repeat(np.nan, n), 'MAE': np.repeat(np.nan, n)})

In [40]:
for i in range(0, n): 
    
    ##Building random forest model
    KN = KNeighborsRegressor(n_neighbors = n_neighbor[i]).fit(X_train, Y_train)
    
    ## Predicting on the test dataset
    KN_pred = KN.predict(X_test)
    
    ##Storing the results
    results['Number_of_Neighbors'][i] = n_neighbor[i]
    results['RMSE'][i] = np.sqrt(np.mean((KN_pred - Y_test)**2))
    results['MAE'][i] = np.mean(abs(KN_pred - Y_test))

In [41]:
results

    Number_of_Neighbors       RMSE       MAE
0                   2.0  25.779213  5.137572
1                   3.0  25.472554  5.077110
2                   4.0  25.330591  5.043881
3                   5.0  25.308318  5.068332
4                   6.0  25.244416  5.110876
5                   7.0  25.167288  5.098593
6                   8.0  24.984469  5.087707
7                   9.0  24.969135  5.053187
8                  10.0  24.978628  5.070034
9                  11.0  24.950551  5.066794
10                 12.0  24.984947  5.077495
11                 13.0  25.005006  5.087333
12                 14.0  25.009985  5.124116
13                 15.0  25.006246  5.141724
14                 16.0  24.941380  5.128683
15                 17.0  24.860876  5.123625
16                 18.0  24.856080  5.121993
17                 19.0  24.856302  5.130962
18                 20.0  24.803645  5.128715

In [31]:
## Based on the results of the neighbor model, we believe model 8 is the best choice with a RMSE 24.969135 and MAE 5.053187. This model also has only 9 nearest neighbors

In [ ]:
## The model that we would choose to make predictions would be the KNN model because of having a lower RMSE and MAE compared to the RF models.